*{
    margin: 0;
    padding: 0;
    color: rgb(241, 241, 241);
    font-family: "Anek Latin";
    font-size: 18px;
    padding-top: 1em;
    padding-bottom: .25em;
}



body{
    background-color: rgb(37, 37, 37);
    
    width: 80%;
    margin: auto;
}

.header{
    position: fixed;
    margin-top: -5%;
    margin-left: -10%;
}



h1{
    font-weight: 800;
    font-size: 28px;
    
}

h2{
    font-weight: 300;
    font-size: 24px;
}

h4{
    font-weight: 200;
    font-size: 20px;

}

h5{
    font-weight: 100;
    font-size: 18;

}

a{
    color: aqua;
    
}

a:hover{
    color: blue;

}

a:visited{
    color: blueviolet;
}

ul,ol{
    margin-left: 25px;
}

#LAN_Photo_1 {

    float: right;
    width: 500px;
    margin-top: 11%;
}

.articledate{

    font-size: 16px;
    color: red;

}

#newsletter {
    margin: auto;
    background-color: whitesmoke;
    padding: 10px;
    width: 450px;
    height: auto;
    
}

#newsletter h2 {
    color: black;
    text-align: center;
    font-family: "Anek Latin";
    font-weight: bold;
    text-transform: uppercase;
    

}

#newsletter button {
    border: 0px;
    background-color: #ff0000;
    padding: 10px;
    font-weight: 600;

}

#newsletter label {
    padding: 10px;
    color:black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    
}

#newsletter input {
    padding: 10px;
    border: 0px;
    width: 300px;
    color: black;
    
}

.article-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    
}

.article-layout img {
    width: 300px;
}

#article-1 {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;

}

#article-2 {
    grid-column: 2 / span 3;
    grid-row: 1 / span 1;
}

#article-3 {
    grid-column: 3 / span 3;
    grid-row: 1 / span 1;

}
